html{
	height:100%;
}
body{
	height: 100%;
	margin: 0;
	text-align: center;
	background-color: #B2B2B2;
	font-family: sans-serif;

}
.wrapper{
	
	width: 720px;
	margin: 0 auto;
	height: 100%;
	text-align: left;
}
.content{
	background-color: #FFFFFF;
	text-align: center;
	padding: 30px;
}
.image{
	width: 180px;
	height: 180px;
	border-radius: 90px;
	-webkit-border-radius:90px;
	-moz-border-radius:90px;
	background: url(https://dl-web.dropbox.com/get/swag%20small.jpg?_subject_uid=3840580&w=AAAgVu8RlH8Dib7Tj-qxgeLPtN6wWsazomkM4oybFwOJaQ);
	box-shadow: 0 0 8px rgba(0,0,0,.8);
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,.8);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,.8);
}
.main{
	position: center;
	width: 100%;
	text-align: left;
	line-height: 25px;
}
.header{
	text-align: center;
	margin: auto;
	margin-top: 15px;}
a{
	text-decoration: none;
	color: #3083D6;
}
a:hover{
	color:black;
	text-decoration: underline;
}
.middletd{
	padding-left: 40px;
	padding-right: 40px;
}